/* ======================= */
/* GLOBAL */
/* ======================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#e9eef6;
}


/* ======================= */
/* MAIN WRAPPER */
/* ======================= */

.main-wrapper{
margin-left:250px;
padding:60px 50px;
min-height:100vh;
}


/* ======================= */
/* HEADER */
/* ======================= */

.top-header{
margin-bottom:30px;
}

.top-header h2{
font-size:28px;
font-weight:600;
color:#1e293b;
}


/* ======================= */
/* DASHBOARD BOX */
/* ======================= */

.dashboard-box{
background:linear-gradient(135deg,#3b82f6,#2f6fd6);
padding:60px;
border-radius:20px;
box-shadow:0 25px 60px rgba(0,0,0,0.08);
}


/* ======================= */
/* WELCOME */
/* ======================= */

.welcome-text h3{
font-size:24px;
color:#000;
margin-bottom:4px;
}

.welcome-text p{
font-size:15px;
color:#111;
}

.welcome-text hr{
margin:18px 0 40px;
border:none;
height:1px;
background:#1e293b;
opacity:.3;
}


/* ======================= */
/* GRID */
/* ======================= */

.stats-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:40px 60px;
justify-items:center;
}


/* ======================= */
/* CARD */
/* ======================= */

.stat-card{
background:#f8fafc;
width:350px;
height:160px;
border-radius:25px;
display:flex;
align-items:center;
padding:30px;
gap:30px;
box-shadow:0 20px 40px rgba(0,0,0,0.08);
transition:all .3s;
}

.stat-card:hover{
transform:translateY(-8px);
box-shadow:0 25px 50px rgba(0,0,0,0.15);
}


/* ======================= */
/* ICON */
/* ======================= */

.icon-box{
width:70px;
height:70px;
background:#2f6fd6;
border-radius:20px;
display:flex;
justify-content:center;
align-items:center;
font-size:36px;
color:white;
}


/* ======================= */
/* NUMBER */
/* ======================= */

.stat-number{
font-size:48px;
font-weight:700;
color:#2f6fd6;
}


/* ======================= */
/* LABEL */
/* ======================= */

.stat-label{
font-size:15px;
color:#1e293b;
margin-top:5px;
}


/* ======================= */
/* RESPONSIVE */
/* ======================= */

@media(max-width:1000px){

.main-wrapper{
margin-left:0;
padding:30px;
}

.stats-grid{
grid-template-columns:1fr;
}

.stat-card{
width:100%;
}

}