*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

/* WRAPPER */
.wrapper{
width:950px;
background:linear-gradient(135deg,#1e40af,#2563eb);
border-radius:25px;
box-shadow:0 20px 50px rgba(0,0,0,0.35);
overflow:hidden;
padding:50px;
animation:fade 1s ease;
}

/* HERO */
.hero{
display:flex;
align-items:center;
color:white;
}

/* FORM SIDE */
.left{
flex:1;
animation:slideLeft 1s ease;
}

.left h1{
font-size:38px;
margin-bottom:10px;
}

.subtext{
opacity:0.9;
margin-bottom:25px;
font-size:15px;
}

/* ANIMATION SIDE */
.right{
flex:1;
text-align:center;
animation:float 4s ease-in-out infinite;
}

/* FORM */
input{
width:100%;
padding:13px;
margin-bottom:15px;
border-radius:12px;
border:none;
outline:none;
font-size:14px;
}

button{
width:100%;
padding:13px;
border:none;
border-radius:30px;
background:white;
color:#1e3a8a;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#f1f5f9;
transform:translateY(-3px);
}

/* ERROR */
.error{
background:#ef4444;
color:white;
padding:10px;
margin-bottom:15px;
border-radius:10px;
}

/* BUTTON BACK */
.btn-kembali{
display:block;
text-align:center;
margin-top:12px;
padding:10px;
border-radius:25px;
background:#0f2747;
color:white;
text-decoration:none;
font-size:14px;
transition:.3s;
}

.btn-kembali:hover{
background:#0b1f3a;
}

/* ANIMATIONS */
@keyframes slideLeft{
from{opacity:0; transform:translateX(-40px);}
to{opacity:1; transform:translateX(0);}
}

@keyframes float{
0%{transform:translateY(0);}
50%{transform:translateY(-18px);}
100%{transform:translateY(0);}
}

@keyframes fade{
from{opacity:0; transform:translateY(40px);}
to{opacity:1; transform:translateY(0);}
}

/* MOBILE */
@media(max-width:900px){
.hero{
flex-direction:column;
text-align:center;
}

.right{
margin-bottom:30px;
}
}
