body{
margin:0;
font-family:Poppins;
background:#3f79c8;
}

/* CONTAINER */
.container{
padding:50px;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
background:#d7e1f0;
padding:20px;
border-radius:20px;
}

/* MENU ATAS */
.menu a{
margin-left:15px;
text-decoration:none;
background:#5f91d3;
color:white;
padding:10px 18px;
border-radius:20px;
font-weight:bold;
transition:.3s;
}

.menu a:hover{
background:#4e7fc0;
}

.menu .active{
background:#204f91;
}

/* TOPBAR */
.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin:25px 0;
}

.topbar input{
padding:10px;
border-radius:10px;
border:none;
outline:none;
}

.topbar button{
padding:10px 15px;
border:none;
border-radius:10px;
background:#5f91d3;
color:white;
cursor:pointer;
}

.tambah{
background:#5f91d3;
padding:10px 20px;
border-radius:12px;
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
border:none;
cursor:pointer;
}

.tambah:hover{
background:#4e7fc0;
}

/* TABLE BOX */
.table-box{
background:#c7d3e5;
padding:25px;
border-radius:25px;
}

/* TABLE */
table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:15px;
text-align:left;
}

/* BUTTON ACTION */
.edit{
background:green;
color:white;
padding:6px 12px;
border-radius:10px;
text-decoration:none;
}

.delete{
background:red;
color:white;
padding:6px 12px;
border-radius:10px;
text-decoration:none;
transition:.3s;
}

.delete:hover{
background:#c40000;
}

.action-btn{
display:flex;
gap:10px;
}

/* TOMBOL KEMBALI */
.kembali{
text-decoration:none;
padding:10px 18px;
background:#64748b;
color:white;
border-radius:12px;
font-size:14px;
transition:0.3s;
}

.kembali:hover{
background:#475569;
}

/* FORM TAMBAH USER */
.form-user{
display:flex;
flex-direction:column;
gap:15px;
width:350px;
}

.form-user input,
.form-user select{
padding:12px;
border-radius:12px;
border:none;
outline:none;
font-size:14px;
}

.form-user button{
margin-top:10px;
}

.form-user{
display:flex;
flex-direction:column;
gap:15px;
width:350px;
}

.form-user input,
.form-user select{
padding:12px;
border:none;
border-radius:12px;
font-size:14px;
}

.form-user button{
margin-top:10px;
cursor:pointer;
}
